<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Results</title>
    <style>
        .addToCart-button{
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
    color: black;
    font-size: bold;
    margin-left:545px;
    margin-right:545px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    cursor :pointer;
    margin-top: 12px;
    transition: background-color 0.3s ease;
}
.addToCart-button:hover{
    background-color:  rgb(255, 200, 0);;
}
    </style>
</head>
<body>
<h2>Search Results:</h2>
<ul>
    <li th:each="product : ${products}">
        <h3 th:text="${product.name}"></h3>
        <img th:src="${product.imageUrl}" alt="Product Image" width="100">
        <p th:text="${product.description}"></p>
        <p>Rating: <span th:text="${product.ratings != null? product.ratings:'No Ratings'}"></span></p>
    </li>
</ul>
<button class="addToCart-button">Add to Cart</button>
</body>
</html>